{% extends 'dailywork/base.html' %}
{% load static %}

{% block title%}产品列表{% endblock %}
{% block menu  %}{% endblock %}
{% block menu_name %}我的面板{% endblock %}

{% block body_block %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>产品列表</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>产品标识</th>
                            <th>产品名称</th>
                            <th>订单数量</th>
                            <th>交付日期</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if products %}
                        {% for product in products %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.order_num }}</td>
                            <td>{{ product.deliver_date }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">数据更新时间：XX-XX-XX XX:XX:XX</div>
    </div>

{% endblock %}

