{% extends 'dailywork/base.html' %}

{% block title %}{{ material.name }} - 添加材料{% endblock %}
{% block menu  %}material_table{% endblock %}
{% block menu_name %}材料{% endblock %}
{% block submenu_name %}
    <li class="breadcrumb-item active">
        {{ material.name }}
    </li>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="card card-columns mx-0 mt-3">
            <div class="card-header">添加材料</div>
            <div class="card-body">
                <form id="process_form" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}<br />
                        <label >{{ field.help_text }}</label><br />
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="mx-6 mt-5">
                        <button type="submit" class="btn btn-success">提交</button>
                        <a class="btn btn-danger" style="float: right" href="/dailywork/material_table/">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



