{% extends 'dailywork/base.html' %}

{% block title %}{{ product_name }} - 添加产品{% endblock %}
{% block menu  %}product_table{% endblock %}
{% block menu_name %}产品{% endblock %}
{% block submenu_name %}
    <li class="breadcrumb-item active">
        {{ product_name }}
    </li>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="card card-columns mx-0 mt-3">
            <div class="card-header">添加产品</div>
            <div class="card-body">
                <form id="product_form" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}<br />
                        <label >{{ field.help_text }}</label><br />
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="mx-6 mt-5">
                        <input class="btn btn-primary" type="submit" name="submit" value="提交">
                        <a class="btn btn-danger" style="float: right" href="/dailywork/product_table/">返回</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



